{% if messages and messages[0]['role'] == 'system' %}{{ '<|im_start|>system\n' + messages[0]['content'] + '<|im_end|>\n' }}{% set loop_messages = messages[1:] %}{% else %}{{ '<|im_start|>system\nYou are a helpful assistant.<|im_end|>\n' }}{% set loop_messages = messages %}{% endif %}{% for message in loop_messages %}{% if message['role'] == 'assistant' %}{% generation %}{{ '<|im_start|>assistant\n' + message['content'] + '<|im_end|>\n' }}{% endgeneration %}{% else %}{{ '<|im_start|>' + message['role'] + '\n' + message['content'] + '<|im_end|>\n' }}{% endif %}{% endfor %}{% if add_generation_prompt %}{{ '<|im_start|>assistant\n' }}{% endif %}